<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tableau Responsive</title>
    <link rel="stylesheet" href="tab.css">
</head>
<body>
<div id="root">
    <h1>TABLEAU RESPONSIVE</h1>
    <table id="tableau">
        <thead>
        <tr>
            <th v-for="head in gridColumns" role="columnheader">
                <span @click="sortBy(head.field)">
                {{ head.display }}
                </span>
            </th>
        </tr>
        </thead>
        <tbody id='corps'>
            <tr v-for="data in filteredData">
                <tr v-for="(data, index) in filteredCustomers" contenteditable="true">
                <td> <input id="check" type="checkbox" name="suppr"></td>
                <td> {{ index + 1}}</td>
                <td> {{ data.titre }}</td>
                <td> {{ data.resume }}</td>
                <td> {{ data.affect }}</td>
                <td> {{ data.client }}</td>
                <td> {{ data.etat }}</td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <th v-for="head in gridColumns" role="columnheader">
                {{ head.display }}
            </th>
        </tr>
        </tfoot>
    </table>
</form>
    Filter: <input type="text" v-model="search"/>
    <input type="button" value="Suppression ticket(s)" @click="deleteForm()">




    <button id="myBtn" @click="toggleModal()">Créer formulaire</button>
    <!-- The Modal -->
    <div id="myModal" class="modal" v-show="displayModal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" @click="toggleModal()">&times;</span>
            <h3>Créer un nouveau formulaire</h3>
            <form @submit.prevent="getForm()" method="post" action="" id="createform" :ref="'createform'">
                <input v-model="titre" type="text" placeholder="Entrez le titre" required><br><br>

                <textarea v-model="resume" placeholder="Résumé de l'action" required></textarea><br><br>

                <label>Affecté à</label>

                <select v-model="affect" >
                    <option v-for="gridData in gridDatas">
                        {{gridData.affect}}
                    </option>
                </select> <br><br>

                <input v-model="client" placeholder="Nom du client" required> <br><br>

                <input type="submit" id="formulaire" value="Créer un formulaire">

            </form>
        </div>
    </div>
</div>



<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
<script src="projetweb.js"></script>

</body>
</html>